body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(rgb(255,179,186), rgb(255,223,186), rgb(255,255,186), rgb(186,255,201), rgb(186,225,255), rgb(255,179,186));
}

h1{
  color: black;
  font-size: 42px;
  margin-bottom: 0px;
}

h2 {
  color: black;
  font-size: 32px;
}

button {
  border: 2px solid rgb(124,150,170);
  background-color: rgb(186,225,255);
  color: rgb(124,150,170);
  font-weight: bold;
  border-radius: 5px;
  font-size: 22px;
  margin: 20px;
  padding: 5px 10px;
}

button:hover {
  color: rgb(186,225,255);
  background-color: rgb(124,150,170);
}

input {
  font-size: 14px;
  padding: 3px;
  padding-left: 5px;
  width: 150px;
  border: 2px solid rgb(124,150,170);
}

.button-row {
  display: flex;
  flex-direction: row;
}

.button-section {
  display: flex;
  flex-direction: row;
}

.highlight-button {
  background-color: rgb(124,150,170);
  color: rgb(186,225,255);
}

.remaining-guesses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin: 20px;
}

.pip-mistake{
  width: 18px;
  height: 18px;
  border: 2px solid rgb(170,119,124);
  border-radius: 18px;
  background-color: white;
}

.pip-remaining{
  width: 18px;
  height: 18px;
  border: 2px solid rgb(170,119,124);
  border-radius: 18px;
  background-color: rgb(255,179,186);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Board{
  width: 520px;
  height: 520px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: aliceblue;
}

.Square{
  width: 116px;
  height: 116px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  overflow-wrap:break-word;
}

.Square > div {
  min-width: 0;
}

.Square:hover {
  background-color: rgb(186,225,255);
}

.selected-square {
  background-color: rgb(124,150,170);
  color: white;
}

.selected-square:hover {
  background-color: rgb(124,150,170);
  color: white;
}

.SolvedRow{
  width: 520px;
  margin: 5px;
  height: 116px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  color: white;
  border: 2px solid rgb(124,150,170);
  color: rgb(124,150,170);
  background-color: aliceblue;
}

.solved-theme {
  font-size: 30px;
  font-weight: bold;
}

.solved-words {
  font-size: 18px;
}

.NewPuzzleForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.cat-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.cat-column > input {
  margin: 10px 0;
}

.cat-name {
  border: 5px solid rgb(124,150,170);
  height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#author {
  border: 5px solid rgb(124,150,170);
  height: 20px;
}

.modal {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  background-color: rgba(0,0,0,.75);
}

.modal-body {
  min-width: 300px;
  min-height: 175px;
  padding:20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
}

.close-modal {
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
}

.create-button {
  margin: 5px;
  text-decoration: underline;
}

.create-button:hover {
  cursor: pointer;
}

@media (max-width: 760px){
  .cat-columns {
    flex-direction: column;
    width: 100vw;
    background-color: transparent;
  }

  .cat-column {
    width: 100%;
  }

}

@media (max-width: 620px){

  .Square{
    width: 18vw;
    height: 18vw;
    margin: 0;
    font-size: 12px;
  }

  .Board {
    width: 90vw;
    height: 90vw;
  }

  .SolvedRow {
    width: 100%;
    height: 18vw;
    margin: 0;
  }

  .solved-theme {
    font-size: 16px;
  }

  .solved-words {
    font-size: 14px;
  }

  .button-section {
    flex-direction: column;
    align-items: center;
  }

  button {
    margin: 5px;
  }

  .remaining-guesses {
    margin: 5px 0px 15px 0px;
  }

}