body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1{
  color: teal;
  font-size: 42px;
  margin-bottom: 0px;
}

button {
  border: 2px solid black;
  font-size: 22px;
  margin: 20px;
  padding: 5px 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Board{
  width: 600px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightslategray;
}

.Square{
  width: 136px;
  height: 136px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: teal;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-square {
  background-color: teal;
  color: white;
}

.SolvedRow{
  width: 600px;
  margin: 5px;
  height: 136px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  background-color: lightseagreen;
  color: white;
}

.solved-theme {
  font-size: 30px;
  font-weight: bold;
}

.solved-words {
  font-size: 18px;
}