body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: aliceblue;
}

h1{
  color: black;
  font-size: 42px;
  margin-bottom: 0px;
}

h2 {
  color: black;
  font-size: 32px;
}

button {
  border: 2px solid black;
  background-color: lightslategray;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  margin: 20px;
  padding: 5px 10px;
}

button:hover {
  background-color: orange;
}

input {
  font-size: 14px;
  padding: 3px;
  padding-left: 5px;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.button-section {
  display: flex;
  flex-direction: row;
}

.highlight-button {
  background-color: darkred;
}

.remaining-guesses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin: 20px;
}

.pip-mistake{
  width: 18px;
  height: 18px;
  border: 2px solid darkred;
  border-radius: 18px;
  background-color: white;
}

.pip-remaining{
  width: 18px;
  height: 18px;
  border: 2px solid darkred;
  border-radius: 18px;
  background-color: darkred;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Board{
  width: 600px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: lightslategray;
}

.Square{
  width: 136px;
  height: 136px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: lightslategray;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  overflow-wrap:break-word;
}

.Square > div {
  min-width: 0;
}

.Square:hover {
  background-color: crimson;
  color: white;
}

.selected-square {
  background-color: darkred;
  color: white;
}

.selected-square:hover {
  background-color: darkred;
  color: white;
}

.SolvedRow{
  width: 600px;
  margin: 5px;
  height: 136px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  color: white;
}

.row-1 {
  background-color: green;
}

.row-2 {
  background-color: dodgerblue;
}

.row-3 {
  background-color: orange;
}

.row-4 {
  background-color: indigo;
}

.solved-theme {
  font-size: 30px;
  font-weight: bold;
}

.solved-words {
  font-size: 18px;
}

.NewPuzzleForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.cat-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16%;
}

.cat-column > input {
  margin: 10px 0;
}

.cat-1 > input {
  border: 2px solid green;
}

#cat1name{
  border: 5px solid green;
  height: 20px;
}

.cat-2 > input {
  border: 2px solid dodgerblue;
}

#cat2name {
  border: 5px solid dodgerblue;
  height: 20px;
}

.cat-3 > input {
  border: 2px solid orange;
}

#cat3name {
  border: 5px solid orange;
  height: 20px;
}

.cat-4 > input {
  border: 2px solid indigo;
}

#cat4name {
  border: 5px solid indigo;
  height: 20px;
}

#author {
  border: 5px solid black;
  height: 20px;
  margin-bottom: 15px;
}

.modal {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  background-color: rgba(0,0,0,.75);
}

.modal-body {
  min-width: 300px;
  min-height: 175px;
  padding:20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.close-modal {
  position: relative;
  top: 0;
  right: 0;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
}

.create-button {
  margin: 5px;
  text-decoration: underline;
}

.create-button:hover {
  cursor: pointer;
}

@media (max-width: 620px){

  .Square{
    width: 18vw;
    height: 18vw;
    margin: 0;
    font-size: 12px;
  }

  .Board {
    width: 90vw;
    height: 90vw;
  }

  .SolvedRow {
    width: 100%;
    height: 18vw;
    margin: 0;
  }

  .solved-theme {
    font-size: 16px;
  }

  .solved-words {
    font-size: 14px;
  }

  .cat-columns {
    flex-direction: column;
    width: 100vw;
  }

  .cat-column {
    width: 100%;
  }

  .button-section {
    flex-direction: column;
    align-items: center;
  }

  button {
    margin: 5px;
  }

  .remaining-guesses {
    margin: 5px 0px 15px 0px;
  }

}